<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
dao层接口的全限定名和namespace一样
dao层接口中的方法名和映射文件中增删改查配置的statement id一致
方法的参数和配置的输入参数保持一致
方法的返回值类型和配置中返回类型保持一致
 -->
<mapper namespace="com.qfedu.dao.NewsDao">
	
	<select id="findAll" resultType="com.qfedu.pojo.News" parameterType="String" >
		select * from news
		where title like concat('%', #{keyword} ,'%')
	</select>
	<insert id="add" parameterType="com.qfedu.pojo.News">
		insert into news VALUES (null, #{title},#{summary},#{writer},#{createTime})
	</insert>
	<delete id="deleteById" parameterType="int">
		delete from news where id=#{id}
	</delete>
	<select id="findNewsById" parameterType="Integer" resultType="com.qfedu.pojo.News">
		select * from news where id=#{id}
	</select>
</mapper>